<a href="https://colab.research.google.com/github/yennek-med/TP-VISUALISATION/blob/main/visualisation_pandas_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercice 1 : Creating and Modifying Series

In [ ]:
import pandas as pd

# Création de la Series à partir du  dictionnaire deja donne
serie_exo1 = pd.Series({'a': 100, 'b': 200, 'c': 300})
print('la serie initial  modifications')
print(serie_exo1)

# Modifier la serie
# Ajouter un nouvel élément
serie_exo1['d'] = 400

# Modification de la valeur associée à 'b' (de 200 à 250)
serie_exo1['b'] = 250

print('la serie apres modifications')
print(serie_exo1)

la serie initial  modifications
a    100
b    200
c    300
dtype: int64
la serie apres modifications
a    100
b    250
c    300
d    400
dtype: int64

Exercice 2 : Creating DataFrames

In [ ]:
import pandas as pd

# Création du DataFrame initial avant modification
df_initial = pd.DataFrame({
    'A': [1, 4, 7],
    'B': [2, 5, 8],
    'C': [3, 6, 9]
})

# Affichage du DataFrame initial
print("DataFrame Initial :")
print(df_initial)

# Copie du DataFrame pour modification
df_modifie = df_initial.copy()

# Ajout de la colonne 'D' avec les valeurs [10, 11, 12]
df_modifie['D'] = [10, 11, 12]

# Suppression de la colonne 'B'
df_modifie.drop(columns='B', inplace=True)

# Affichage du DataFrame modifié
print("\nDataFrame Modifié :")
print(df_modifie)

DataFrame Initial :
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

DataFrame Modifié :
   A  C   D
0  1  3  10
1  4  6  11
2  7  9  12

Exercice 3 : DataFrame Indexing and Selection

In [ ]:
import pandas as pd

# Création du DataFrame à partir d'un dictionnaire
df_exo3 = pd.DataFrame({
    'A': [1, 4, 7],
    'B': [2, 5, 8],
    'C': [3, 6, 9]
})

# Sélection de la colonne 'B'
col_B = df_exo3['B']

# Sélection des colonnes 'A' et 'C'
cols_A_C = df_exo3[['A', 'C']]

# Sélection de la ligne avec index 1
row_index_1 = df_exo3.loc[1]

print("Sélection de la colonne B:")
print(col_B)

print("\nSélection des colonnes A et C:")
print(cols_A_C)

print("\nSélection de la ligne avec index 1:")
print(row_index_1)

Sélection de la colonne B:
0    2
1    5
2    8
Name: B, dtype: int64

Sélection des colonnes A et C:
   A  C
0  1  3
1  4  6
2  7  9

Sélection de la ligne avec index 1:
A    4
B    5
C    6
Name: 1, dtype: int64

**Exercice 4 : Adding and Removing DataFrame Elements**

In [ ]:
import pandas as pd
from numpy.random import randn

# Création du DataFrame
df_exo4 = pd.DataFrame({
    'A': [1, 4, 7],
    'B': [2, 5, 8],
    'C': [3, 6, 9]
})

# Ajout de la colonne 'Sum' (somme des colonnes A, B et C)
df_exo4['Sum'] = df_exo4['A'] + df_exo4['B'] + df_exo4['C']
print("\nDataFrame avec la colonne 'Sum'")
print(df_exo4)

# Suppression de la colonne sum
df_exo4.drop(columns='Sum', inplace=True)
print("\nDataFrame apres la suppression de la colonne 'Sum'")
print(df_exo4)

# Ajout d'une colonne 'Random' avec des nombres aléatoires
df_exo4['Random'] = randn(3)

print("\nDataFrame avec la colonne 'Random'")
print(df_exo4)

DataFrame avec la colonne 'Sum'
   A  B  C  Sum
0  1  2  3    6
1  4  5  6   15
2  7  8  9   24

DataFrame apres la suppression de la colonne 'Sum'
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

DataFrame avec la colonne 'Random'
   A  B  C    Random
0  1  2  3  0.490229
1  4  5  6 -0.687202
2  7  8  9  0.401218

**Exercice 5 : Merging DataFrames**

In [ ]:
import pandas as pd

# Création du DataFrame 'left'
left = pd.DataFrame({
    'key': [1, 2, 3],
    'A': ['A1', 'A2', 'A3'],
    'B': ['B1', 'B2', 'B3']
})

# Création du DataFrame 'right'
right = pd.DataFrame({
    'key': [1, 2, 3],
    'C': ['C1', 'C2', 'C3'],
    'D': ['D1', 'D2', 'D3']
})

# Fusion avec un inner join
merged_inner = pd.merge(left, right, how='inner', on='key')
print("\nFusion avec Inner Join:")
print(merged_inner)

# Modification pour un outer join
merged_outer = pd.merge(left, right, how='outer', on='key')
print("\nFusion avec Outer Join:")
print(merged_outer)

# Ajout d'une nouvelle colonne E au DataFrame right
right['E'] = ['E1', 'E2', 'E3']

# Mise à jour la fusion pour inclure la nouvelle colonne E
merged_with_E = pd.merge(left, right, how='outer', on='key')
print("\nFusion avec Outer Join + Nouvelle Colonne E:")
print(merged_with_E)

Fusion avec Inner Join:
   key   A   B   C   D
0    1  A1  B1  C1  D1
1    2  A2  B2  C2  D2
2    3  A3  B3  C3  D3

Fusion avec Outer Join:
   key   A   B   C   D
0    1  A1  B1  C1  D1
1    2  A2  B2  C2  D2
2    3  A3  B3  C3  D3

Fusion avec Outer Join + Nouvelle Colonne E:
   key   A   B   C   D   E
0    1  A1  B1  C1  D1  E1
1    2  A2  B2  C2  D2  E2
2    3  A3  B3  C3  D3  E3


**Exercice 6 : Data Cleaning**

In [ ]:
import pandas as pd
import numpy as np

# Création du DataFrame avec des valeurs nan
df_exo6 = pd.DataFrame({
    'A': [1.0, np.nan, 7.0],
    'B': [np.nan, 5.0, 8.0],
    'C': [3.0, 6.0, np.nan]
})

#Remplacement des nan valeurs  par 0
df_replace_0 = df_exo6.fillna(0)
print("\nDataFrame avec nan remplacés par 0:")
print(df_replace_0)

#Remplacement des valeurs NaN par la moyenne de la colonne
df_replace_mean = df_exo6.fillna(df_exo6.mean())
print("\nDataFrame avec NaN remplacés par la moyenne de chaque colonne:")
print(df_replace_mean)

#Suppression des lignes qui contien au moins une valeur nan
df_drop_na = df_exo6.dropna()
print("\nDataFrame après suppression des lignes contenant des NaN:")
print(df_drop_na)

DataFrame avec nan remplacés par 0:
     A    B    C
0  1.0  0.0  3.0
1  0.0  5.0  6.0
2  7.0  8.0  0.0

DataFrame avec NaN remplacés par la moyenne de chaque colonne:
     A    B    C
0  1.0  6.5  3.0
1  4.0  5.0  6.0
2  7.0  8.0  4.5

DataFrame après suppression des lignes contenant des NaN:
Empty DataFrame
Columns: [A, B, C]
Index: []

**Exercice 7 : Grouping and Aggregation**

In [ ]:
import pandas as pd

# Création du DataFrame
df_exo7 = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Value': [1, 2, 3, 4, 5, 6]
})
print("DataFrame initial:")
print(df_exo7)
#Groupement par 'Category' et calcul de la moyenne
df_mean = df_exo7.groupby('Category').mean()
print("\nMoyenne par catégorie:")
print(df_mean)

# Modification pour calculer la somme au lieu de la moyenne
df_sum = df_exo7.groupby('Category').sum()
print("\nSomme par catégorie:")
print(df_sum)

#Groupement par 'Category' et comptage du nombre d'entrées dans chaque groupe
df_count = df_exo7.groupby('Category').count()
print("\nNombre d'entrées par catégorie:")
print(df_count)

DataFrame initial:
  Category  Value
0        A      1
1        B      2
2        A      3
3        B      4
4        A      5
5        B      6

Moyenne par catégorie:
          Value
Category
A           3.0
B           4.0

Somme par catégorie:
          Value
Category
A             9
B            12

Nombre d'entrées par catégorie:
          Value
Category
A             3
B             3

**Exercice 8 : Pivot Tables**

In [ ]:
import pandas as pd

# Création du DataFrame initial
df_exo8 = pd.DataFrame({
    'Category': ['A', 'A', 'A', 'B', 'B', 'B'],
    'Type': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
    'Value': [1, 2, 3, 4, 5, 6]
})

print("\nDataFrame Initial :")
print(df_exo8)

# Création d'un pivot table affichant la moyenne de 'Value' pour chaque 'Category' et 'Type'
pivot_mean = pd.pivot_table(df_exo8, values='Value', index='Category', columns='Type', aggfunc='mean')
print("\nPivot Table - Moyenne :")
print(pivot_mean)

# Modification du pivot table pour afficher la somme au lieu de la moyenne
pivot_sum = pd.pivot_table(df_exo8, values='Value', index='Category', columns='Type', aggfunc='sum')
print("\nPivot Table - Somme :")
print(pivot_sum)

# Ajout de marges pour afficher les totaux avec la somme
pivot_with_margins_sum = pd.pivot_table(df_exo8, values='Value', index='Category', columns='Type', aggfunc='sum', margins=True)
print("\nPivot Table - Somme avec Marges :")
print(pivot_with_margins_sum)

DataFrame Initial :
  Category Type  Value
0        A    X      1
1        A    Y      2
2        A    X      3
3        B    Y      4
4        B    X      5
5        B    Y      6

Pivot Table - Moyenne :
Type        X    Y
Category
A         2.0  2.0
B         5.0  5.0

Pivot Table - Somme :
Type      X   Y
Category
A         4   2
B         5  10

Pivot Table - Somme avec Marges :
Type      X   Y  All
Category
A         4   2    6
B         5  10   15
All       9  12   21

**Exercice 9 : Time Series Data**

In [ ]:
import pandas as pd
import numpy as np

#Création d'un DataFrame de série temporelle avec une plage de dates
date_range = pd.date_range(start='2023-01-01', periods=6, freq='D')

# Génération de valeurs aléatoires pour la série temporelle
values = np.random.randn(6)

df_exo9 = pd.DataFrame({'Date': date_range, 'Value': values})

print("\nDataFrame Série Temporelle :")
print(df_exo9)

#Définition de la colonne 'Date' comme index
df_exo9.set_index('Date', inplace=True)

#Resampling des données pour calculer la somme sur des périodes de 2 jours
df_resampled = df_exo9.resample('2D').sum()
print("\nDataFrame Resamplé (Somme sur 2 jours) :")
print(df_resampled)

DataFrame Série Temporelle :
        Date     Value
0 2023-01-01 -0.345306
1 2023-01-02 -0.853429
2 2023-01-03  0.036617
3 2023-01-04  0.922456
4 2023-01-05  1.126150
5 2023-01-06 -0.272407

DataFrame Resamplé (Somme sur 2 jours) :
               Value
Date
2023-01-01 -1.198736
2023-01-03  0.959073
2023-01-05  0.853743

**Exercice 10 : Handling Missing Data**

In [1]:
import pandas as pd
import numpy as np

# Création du DataFrame avec des valeurs NaN
df_exo10 = pd.DataFrame({
    'A': [1.0, 2.0, np.nan],
    'B': [np.nan, 5.0, 8.0],
    'C': [3.0, np.nan, 9.0]
})

# Suppression des lignes contenant au moins une valeur NaN sur le DataFrame initial
df_drop_na_initial = df_exo10.dropna()

# Interpolation complète dans les deux directions
df_interpolated = df_exo10.interpolate(limit_direction='both')

# Suppression des lignes contenant au moins une valeur NaN sur le DataFrame interpolé
df_drop_na_interpolated = df_interpolated.dropna()

# Affichage des DataFrames
print("\nDataFrame Initial:")
print(df_exo10)

print("\nDataFrame après suppression des NaN (Initial):")
print(df_drop_na_initial)

print("\nDataFrame après interpolation:")
print(df_interpolated)

print("\nDataFrame après suppression des NaN (Après Interpolation):")
print(df_drop_na_interpolated)

DataFrame Initial:
     A    B    C
0  1.0  NaN  3.0
1  2.0  5.0  NaN
2  NaN  8.0  9.0

DataFrame après suppression des NaN (Initial):
Empty DataFrame
Columns: [A, B, C]
Index: []

DataFrame après interpolation:
     A    B    C
0  1.0  5.0  3.0
1  2.0  5.0  6.0
2  2.0  8.0  9.0

DataFrame après suppression des NaN (Après Interpolation):
     A    B    C
0  1.0  5.0  3.0
1  2.0  5.0  6.0
2  2.0  8.0  9.0

**Exercice 11 : DataFrame Operations**

In [4]:
import pandas as pd

# Création du DataFrame initial
df_exo11 = pd.DataFrame({
    'A': [1, 4, 7],
    'B': [2, 5, 8],
    'C': [3, 6, 9]
})

# Affichage du DataFrame initial
print("\nDataFrame Initial :")
print(df_exo11)

# Calcul de la somme cumulative
df_cumsum = df_exo11.cumsum()
print("\nDataFrame - Somme Cumulative :")
print(df_cumsum)

# Calcul du produit cumulatif
df_cumprod = df_exo11.cumprod()
print("\nDataFrame - Produit Cumulatif :")
print(df_cumprod)

# Application d'une fonction pour soustraire 1 à chaque élément (correction du warning)
df_subtract_one = df_exo11.map(lambda x: x - 1)
print("\nDataFrame - Soustraction de 1 :")
print(df_subtract_one)

DataFrame Initial :
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

DataFrame - Somme Cumulative :
    A   B   C
0   1   2   3
1   5   7   9
2  12  15  18

DataFrame - Produit Cumulatif :
    A   B    C
0   1   2    3
1   4  10   18
2  28  80  162

DataFrame - Soustraction de 1 :
   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8